.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-areas:
      'header  header'
      'main  aside'
      'main  aside'
      'footer  footer';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0.6em;
  }
  .main {
    grid-area: main;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }
}
