*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --danger: #e69e9d;
  --info: #83c5be;
  --primary: #eb4a47;
  --secondary: #7fd77b;
  --secondaryText: #040e2b;
  --base: #fff;
  --base-text: #06133b;
  --plate: #e4e5cb;
  --plate-text: #000000;
  --hover: #dce9ff;
}

body {
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
